/* ===== location-underline.css ===== */
.index_title.has-underline {
  position: relative;
  display: inline-block;
  margin-bottom: 24px;
}

.index_title.has-underline::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.index_title.animated.has-underline::after {
  transform: scaleX(1);
}